<div class="container-fluid header" #header>
  <div class="row align-items-center">
    <div class="col-lg-3 col-md-3 title text-nowrap">
      <img src="/assets/logo.png" class="logo" alt="arbo-logo">
    </div>
    <div class="col-lg-6 col-md-6 address text-nowrap">
      <img src="/assets/location.svg" width="24" height="24" alt="location">
      <div>
        <span class="text-nowrap">
          Rua Dr. Miguel Penteado, 295
        </span><br/>
        <span class="text-nowrap">Jardim Chapadão</span><br/>
        <span class="text-nowrap">Campinas, SP, 13070-118</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 phone text-nowrap">
        <div>
          <img src="/assets/phone.svg" width="24" height="24" alt="phone" style="vertical-align:middle">
          <span class="text-nowrap">(19) 3255-3462</span><br/>
          <span class="text-nowrap margin-left">(19) 3295-4487</span><br/>
          <span class="text-nowrap margin-left">(19) 3368-1850</span><br/>
          <img src="/assets/whatsapp-logo.svg" width="24" height="24" alt="whatsapp-logo">
          <span class="text-nowrap">(19) 97604-5516</span><br/>
        </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-toggleable-sm navbar-light sticky-top">
  <button class="navbar-toggler navbar-toggler-right btn-secondary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="main" [@itemState]="altTitleState">
    <img src="/assets/logo-small.png" height="40" alt="arbo-logo">
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="main" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="about" routerLinkActive="active">Sobre</a>
      <a class="nav-item nav-link" routerLink="team" routerLinkActive="active">Profissionais</a>
      <a class="nav-item nav-link" routerLink="treatments" routerLinkActive="active">Tratamentos</a>
      <a class="nav-item nav-link" routerLink="location" routerLinkActive="active">Localização</a>
    </div>
  </div>
</nav>