<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-sm-12 text">
      <p>
        A Arboral Saúde Integrada surgiu a partir da união de 3 amigas que sempre buscaram atender 
        seus pacientes de forma personalizada e diferenciada.
      </p>
      <p>
        Escolhemos como símbolo dessa união a Árvore da Vida que representa perpétua evolução, 
        sempre em ascensão, além de representar algo sólido e duradouro que é o que buscamos nos 
        resultados de nossos tratamentos.
      </p>
      <p>
        Procuramos criar um ambiente confortável e receptivo aos nossos clientes, pois acreditamos 
        que tratar da saúde deve ser algo agradável e prazeroso.
      </p>
    </div>
    <div class="col-md-7 col-sm-12 about"></div>
  </div>
</div>
