<div class="container-fluid">
  <div class="row">
    <div parallax [config]="parallaxConfig1" axis="Y"class="col-md-12 parallax wood">
        <h1>Missão</h1>
        Proporcionar programas de prevenção e tratamentos para nossos clientes com qualidade, transparência, eficiência e respeito.
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12 parallax chair">
      <h1>Visão</h1>
        Ser referência na promoção de saúde, estética e qualidade de vida.
    </div>
    <div class="col-md-7 col-sm-12 photo waiting">
    </div>
  </div>
  <div class="row">
    <div axis="Y" class="col-md-5 col-sm-12 photo reception">
    </div>
    <div class="col-md-7 col-sm-12 parallax flower">
      <h1>Valores</h1>
        Postura ética, profissional e atitudes que geram credibilidade e confiança de nossos clientes.
        Proatividade para quebra de paradigmas, gerando inovação e estilo próprio.
        Busca pela extrema qualidade, excelência e atenção aos detalhes em todos os trabalhos que executarmos
        Sempre tratar as pessoas com cordialidade e respeito
        Trabalho em equipe é essencial para um bom funcionamento da clínica
    </div>
  </div>
</div>
