<div class="container">
  <div  class="row align-items-center">
    <div class="col-md-4 address">
      <span class="text-nowrap">Rua Dr. Miguel Penteado, 295</span><br/>
      <span class="text-nowrap">Jardim Chapadão</span><br/>
      <span class="text-nowrap">Campinas, SP, 13070-118</span>
    </div>
    <div class="col-md-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.6065618195007!2d-47.07556938502786!3d-22.890987885019882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c61ea30ebdd5%3A0xe6a07d72c8bb0f58!2sR.+Dr.+Miguel+Penteado%2C+295+-+Jardim+Chapad%C3%A3o%2C+Campinas+-+SP%2C+13070-118!5e0!3m2!1sen!2sbr!4v1497816142734" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>