@import "../../variables";
:host {
    .sidenav-container {
        display: flex;
        overflow: visible;
        width: 100%;
        min-height: 75vh;
        md-sidenav {
            max-width: 250px;
            display: flex;
            overflow: visible;
        }
        .content {
            button.open-sidebar {
                cursor: pointer;
                &:focus {
                    outline: none;
                }
                .navbar-toggler-icon{
                    color: rgba(0,0,0,.9);
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
            }
        }
    }
}